body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}

/* Blog posts */

.blog-post {
	margin-bottom: 60px;
}
.blog-post-title {
	margin-bottom: 5px;
	font-size: 40px;
}
.blog-post-meta {
	margin-bottom: 20px;
	color: #999;;
	font-style: italic;
}
.force-center {
	transform: translateX(50%);
}
.delete-post {
	font-size: 30px;
}
.posts {
	padding-right: 40px !important;
}
.hierarchy {
	ul li {
		list-style-type: disc;
	}
}
.today-posts {
	padding-top: 5px !important;
	padding-bottom: 5px	!important;
}
.brand-logo {
	margin-left: 15px;
}
span.badge.new:after {
	content: " today";
}