<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet/less" type="text/css" href="css/main.less?1">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/0.4.5/sweetalert2.css">
  </head>

  <body class="animated fadeIn">
      <header>
        <nav class="teal">
          <div class="nav-wrapper">
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <a href="index.html" class="brand-logo">MiniBlog</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="index.html">Home</a></li>
              <li><a href="admin.html">Admin</a></li>
            </ul>
            <ul id="nav-mobile" class="right side-nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="admin.html">Admin</a></li>
            </ul>
          </div>
        </nav>
      </header>
      <main>
        <div class="container">
          <div class="row">
            <h1 class="center-align">My Blog</h1>
          </div>
          <div class="row">
            <div class="col s12 main-container">
              
            </div>
          </div>
        </div>
      </main>
      <footer class="page-footer teal">
        <div class="container">
          <p><a href="#" class="white-text">Back to the top</a></p>
        </div>
        <div class="footer-copyright">
          <div class="container">
            &copy; 2016 Michael
          </div>
        </div>
      </footer>

    <script id="login-template" type="text/x-handlebars-template">
      <div class="animated fadeIn">
        <div class="col s12 errors-section"></div>
        <div class="col s12 m6 force-center">
        <h1 class="center-align">Login</h1>
        <div>
          <form action="" class="col s12 form-signin">
            <div class="row">
              <div class="input-field col s12">
                <input required type="email" id="email" name="email" class="validiate">
                <label required for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input type="password" id="password" name="password" class="validiate">
                <label for="password">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <p class="right-align">
                  <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Login</button>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    </script>
    <script id="welcome-template" type="text/x-handlebars-template">
      <div class="animated fadeIn">
        <h2>Welcome, {{email}}</h2>
        <button class="btn btn-large waves-effect waves-light add-blog">Add a new blog</button>
        <button class="btn btn-large waves-effect waves-light logout">Logout</button>
      </div>
    </script>
    <script id="add-blog-template" type="text/x-handlebars-template">
    <div class="animated fadeIn">
        <h2>Add a new blog</h2>
        <div class="col s12 errors-section"></div>
        <div class="row">
          <form action="" class="col s12 form-add-blog">
            <div class="row">
              <div class="input-field col s12">
                <input required type="text" id="title" name="title">
                <label for="title">Title</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea placeholder="Body" required name="content" id="content" class="ckeditor" cols="30" rows="10"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <div class="right-align">
                  <a class="btn orange btn-large waves-effect waves-light cancel-new-blog" href="javascript:void(0);">Back</a>
                  <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </script>
    <script src="https://cdn.jsdelivr.net/sweetalert2/0.4.5/sweetalert2.min.js"></script>
    <script src="js/checkSession.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/backendless.min.js"></script>
    <script src="js/admin.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script src="js/handlebars-v4.0.5.js"></script>
    <script src="js/ckeditor/ckeditor.js"></script>
    </body>
</html>