<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet/less" type="text/css" href="css/main.less">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/0.4.5/sweetalert2.css">
  </head>

  <body class="animated fadeIn">
      <header>
        <nav class="teal">
          <div class="nav-wrapper">
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <a href="index.html" class="brand-logo">MiniBlog</a>
            <ul class="right hide-on-med-and-down">
              <li><a href="index.html">Home <span class="badge new red lighten-2 today-posts"></span></a></li>
              <li><a href="admin.html">Admin</a></li>
            </ul>
            <ul id="nav-mobile" class="right side-nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="admin.html">Admin</a></li>
            </ul>
          </div>
        </nav>
      </header>
      <main>
        <div class="container">
          <div class="row">
            <h1 class="center-align">My Blog</h1>
          </div>
          <div class="row">
            <div class="col s12 row main-container">
              
            </div>
          </div>
        </div>
      </main>
      <footer class="page-footer teal">
        <div class="container">
          <p><a href="#" class="white-text">Back to the top</a></p>
        </div>
        <div class="footer-copyright">
          <div class="container">
            &copy; 2016 Michael
          </div>
        </div>
      </footer>

    <script id="blogs-template" type="text/x-handlebars-template">
    <div class="posts col s12 m9">
      {{#each posts}}
        <div id="{{objectId}}" class="blog-post">
          {{#if ../admin}}
            <div style="float:right">
              <a href="javascript:void(0)" class="delete-post" data-id="{{objectId}}">&times;</a>
            </div>
          {{/if}}
          <h2 class="blog-post-title">{{title}}</h2>  
          <p class="blog-post-meta">At {{format created}} by {{authorEmail}}</p>
          <div>{{{content}}}</div>
        </div>
      {{else}}
        <div class="card red lighten-3">
          <div class="card-content white-text">No posts yet. Check back later!</div>
        </div>
      {{/each}}
      </div>
      <div class="hierarchy s12 m3">
        <h4>Posts</h4>
        <ul>
        {{#each posts}}
          <li><a href="#{{objectId}}">{{title}}</a> <span class="grey-text">{{format2 created}}</span></li>
        {{/each}}
        </ul>
      </div>
    </script>
    <script src="https://cdn.jsdelivr.net/sweetalert2/0.4.5/sweetalert2.min.js"></script>
    <script src="js/checkSession.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/backendless.min.js"></script>
    <script src="js/blog.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
    <script src="js/handlebars-v4.0.5.js"></script>
  </body>
</html>